@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #EFE4F1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

div.MuiToolbar-root {
  background-color: #E1B254;
}

input.MuiInputBase-input {
  color: #3E3433;
}

svg.MuiSvgIcon-root {
  color: #3E3433;
}

svg.MuiStepIcon-root.MuiStepIcon-active {
  color: #3E3433;
}

svg.MuiStepIcon-root.MuiStepIcon-completed {
  color: #E1B254;
}

h4.MuiTypography-root {
  color: #3E3433;
  margin: 1rem 0 1rem;
}

h6.MuiTypography-root {
  color: #3E3433;
}

span.MuiTypography-root {
  color: #3E3433;
}

span.MuiButton-label {
  color: #3E3433;
}

div.MuiAppBar-colorPrimary {
  background-color: #3E3433;
}

div.MuiInput-underline:before {
  border-bottom: 1px solid #3E3433;
}

div.MuiInput-underline:after {
  border-bottom: 2px solid #3E3433;
}

div.MuiImageListItemBar-root {
  background: #3e3433d3;
}
label.MuiFormLabel-root {
  color: #3E3433;
}

label.MuiFormLabel-root.Mui-focused {
  color: #3E3433;
}

hr.MuiDivider-root {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div.MuiPaper-root {
  background-color: #EFE4F1;
}

span.MuiBadge-colorPrimary {
  background-color: #E1B254;
  color: #3E3433;
}
