@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #F8F4F9;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

div.MuiToolbar-root {
  background-color: #F4EF88;
}

input.MuiInputBase-input {
  color: #5A816F;
}

svg.MuiSvgIcon-root {
  color: #5A816F;
}

h4.MuiTypography-root {
  color: #5A816F;
  margin: 1rem 0 1rem;
  font-family: 'Sniglet', cursive;
}

h6.MuiTypography-root {
  color: #5A816F;
}

span.MuiButton-label {
  color: #5A816F;
}

div.MuiAppBar-colorPrimary {
  background-color: #5A816F;
}

div.MuiInput-underline:before {
  border-bottom: 1px solid #5A816F;
}

div.MuiInput-underline:after {
  border-bottom: 2px solid #5A816F;
}

div.MuiImageListItemBar-root {
  background: rgba(0, 0, 0, 0.753);
}
label.MuiFormLabel-root {
  color: #5A816F;
}

label.MuiFormLabel-root.Mui-focused {
  color: #5A816F;
}
