.menuTitle {
    margin: 1rem;
}

.root {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    background-color: theme-palette-background-paper;
}

.icon {
    background-color: #F8F4F9;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
}

.footer {
    margin: 2rem 1rem 1rem;
    color: #5A816F;
}